header{
  display: flex;
  flex-direction: row;
  padding: 1%;
  height: 200px;
}

#divCabeceraImagen{
  height: 100%;
  text-align: center;
  width:19%
}

#divCabeceraImagen img{
  height: 200px;
}

#divCabeceraTitulo{
  display: table;
  height: 100%;
  text-align:center;
  width:80%
}

#divCabeceraTitulo h1{
  display: table-cell;
  vertical-align: middle;;
}
